{% extends '../layout/layout.html' %}

{% block content %}

<!-- ..::Product-details Section Start Here::.. -->
<div class="rts-product-details-section section-gap">
    <div class="container">
        <div class="details-product-area mb--70">
            <div class="product-thumb-area">
                <div class="cursor"></div>
                <div class="thumb-wrapper one filterd-items figure">
                    <div class="product-thumb zoom" onmousemove="zoom(event)"
                        style="background-image: url('{{ shoe.image.url }}')">
                        <img src="{{ shoe.image.url }}" alt="{{ shoe.name }}">
                    </div>
                </div>
            </div>
            <div class="contents">
                <div class="product-status">
                    <span class="product-category">{{ shoe.category.name }}</span>
                    <div class="rating-stars-group">
                        <div class="rating-star"><i class="fas fa-star"></i></div>
                        <div class="rating-star"><i class="fas fa-star"></i></div>
                        <div class="rating-star"><i class="fas fa-star-half-alt"></i></div>
                        <span>10 Reviews</span>
                    </div>
                </div>
                <h2 class="product-title">{{ shoe.name }} <span class="stock">In Stock</span></h2>
                <span class="product-price">${{ shoe.price }}</span>
                <p>{{ shoe.description }}</p>
                <div class="product-bottom-action">
                    <div class="cart-edit">
                        <div class="quantity-edit action-item">
                            <button class="button"><i class="fal fa-minus minus"></i></button>
                            <input type="text" class="input" value="01" />
                            <button class="button plus">+<i class="fal fa-plus plus"></i></button>
                        </div>
                    </div>
                    <a href="#" class="addto-cart-btn action-item">
                        <i class="rt-basket-shopping"></i> Add To Cart
                    </a>
                    <a href="{% url 'wishlist' %}" class="wishlist-btn action-item"><i class="rt-heart"></i></a>
                </div>
                <div class="product-uniques">
                    <span class="sku product-unipue"><span>SKU: </span> {{ shoe.id }}</span>
                    <span class="catagorys product-unipue"><span>Categories: </span> {{ shoe.category.name }}</span>
                    <span class="tags product-unipue"><span>Tags: </span> {{ shoe.name }}</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ..::Product-details Section End Here::.. -->

{% endblock content %}