{% extends '../layout/layout.html' %}

{% block script %}
        <script src="/static/js/vendors/zoom.js"></script> 
{% endblock %} 

{% block content %}

<header id="rtsHeader"> 
    <div class="header-topbar header-topbar1">
        <div class="container">
            <div class="header-top-area">
                <div class="slider-div">
                    <div class="swiper rts-topSlide1">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <h3 class="welcome-text"> Open Door To A worlds Of Fashion<a href="#">Discover
                                        Now</a></h3>
                            </div>
                            <div class="swiper-slide">
                                <h3 class="welcome-text"> Enjoy free shipping on orders 100$ up<a href="#">Discover
                                        Now</a></h3>
                            </div>
                            <div class="swiper-slide">
                                <h3 class="welcome-text"> Open Door To A worlds Of Fashion<a href="#">Discover
                                        Now</a></h3>
                            </div>
                            <div class="swiper-slide">
                                <h3 class="welcome-text"> Enjoy free shipping on orders 100$ up<a href="#">Discover
                                        Now</a></h3>
                            </div>
                        </div>
                        <div class="slider-navigation2">
                            <div class="swiper-button-prev slider-btn prev"><i class="rt rt-arrow-left-long"></i></div>
                            <div class="swiper-button-next slider-btn next"><i class="rt rt-arrow-right-long"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-topbar-menu-area">
        <div class="container">
            <div class="menu-area1">
                <div class="menu-item">
                    <nav class="nav navbar">
                        <div class="navbar-menu">
                            <ul>
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">My Account</a></li>
                                <li><a href="#">Whishlist</a></li>
                                <li><a href="#">Order Tracking</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>
                <div class="menu-area-right-side">
                    <div class="contact"><i aria-hidden="true" class="fas fa-phone"></i>Need help? <strong>Call us:
                            <a href="call:0020500">+ 0020 500</a></strong></div>
                    <div class="topbar-select-area">
                        <select class="topbar-select custom-select">
                            <option value="eng">English</option>
                            <option value="esp">Español</option>
                            <option value="pl">Polish</option>
                        </select>
                        <select class="topbar-select custom-select2">
                            <option value="usd">USD</option>
                            <option value="eur">Euro</option>
                            <option value="pln">PLN</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="navbar-sticky">
        <div class="container">
            <div class="navbar-part navbar-part1">
                <div class="navbar-inner">
                    <div class="left-side">
                        <div class="hamburger-1">
                            <a href="#" class="nav-menu-link">
                                <span class="dot1"></span>
                                <span class="dot2"></span>
                                <span class="dot3"></span>
                                <span class="dot4"></span>
                                <span class="dot5"></span>
                                <span class="dot6"></span>
                                <span class="dot7"></span>
                                <span class="dot8"></span>
                                <span class="dot9"></span>
                            </a>
                        </div>
                        <h3>Shoe Shop</h3>
                    </div>
                    <div class="rts-menu">
                        <nav class="menus menu-toggle">
                            <ul class="nav__menu">
                                <a class="menu-item active1" href="#">Home <i class="rt-plus"></i></a>
                                <a class="menu-item" href="#">Shop <i class="rt-plus"></i></a>
                            </ul>
                        </nav>
                    </div>
                    <div class="responsive-hamburger">
                        <div class="hamburger-1">
                            <a href="#" class="nav-menu-link">
                                <span class="dot1"></span>
                                <span class="dot2"></span>
                                <span class="dot3"></span>
                                <span class="dot4"></span>
                                <span class="dot5"></span>
                                <span class="dot6"></span>
                                <span class="dot7"></span>
                                <span class="dot8"></span>
                                <span class="dot9"></span>
                            </a>
                        </div>
                    </div>
                    <div class="header-action-items header-action-items1">
                        <div class="search-part">
                            <div class="search-icon action-item icon"><i class="rt-search"></i></div>
                            <div class="search-input-area">
                                <div class="container">
                                    <div class="search-input-inner">
                                        <div class="input-div">
                                            <input id="searchInput1" class="search-input" type="text" placeholder="Search by keyword or #">
                                        </div>
                                        <div class="search-close-icon"><i class="rt-xmark"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a href="{% url 'login' %}" class="account"><i class="rt-user-2"></i></a>
                        <div class="cart action-item">
                            <div class="cart-nav">
                                <div class="cart-icon icon"><a href="#0"><i aria-hidden="true" class="fas fa-shopping-basket"></i></a><span class="wishlist-dot icon-dot">3</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="cart-bar">
        <div class="cart-header">
            <div class="close-cart"><i class="fal fa-times"></i></div>
        </div>
        <div class="product-area">
            <div class="product-item">
                <div class="product-detail">
                    <div class="product-thumb"><img src="/static/images/slider/image1.jpg" alt="product-thumb"></div>
                    <div class="item-wrapper">
                        <span class="product-name">Parachute Jacket</span>
                        <div class="item-wrapper">
                            <span class="product-variation"><span class="color">Green /</span>
                                <span class="size">XL</span></span>
                        </div>
                        <div class="item-wrapper">
                            <span class="product-qnty">3 ×</span>
                            <span class="product-price">$198.00</span>
                        </div>
                    </div>
                </div>
                <div class="cart-edit">
                    <div class="quantity-edit">
                        <button class="button"><i class="fal fa-minus minus"></i></button>
                        <input type="text" class="input" value="3" />
                        <button class="button plus">+<i class="fal fa-plus plus"></i></button>
                    </div>
                    <div class="item-wrapper d-flex mr--5 align-items-center">
                        <a href="#" class="product-edit"><i class="fal fa-edit"></i></a>
                        <a href="#" class="delete-cart"><i class="fal fa-times"></i></a>
                    </div>
                </div>
            </div>
            <div class="product-item">
                <div class="product-detail">
                    <div class="product-thumb"><img src="/static/images/slider/image2.jpg" alt="product-thumb"></div>
                    <div class="item-wrapper">
                        <span class="product-name">Narrow Trouser</span>
                        <div class="item-wrapper">
                            <span class="product-variation"><span class="color">Green /</span>
                                <span class="size">XL</span></span>
                        </div>
                        <div class="item-wrapper">
                            <span class="product-qnty">2 ×</span>
                            <span class="product-price">$88.00</span>
                        </div>
                    </div>
                </div>
                <div class="cart-edit">
                    <div class="quantity-edit">
                        <button class="button"><i class="fal fa-minus minus"></i></button>
                        <input type="text" class="input" value="2" />
                        <button class="button plus">+<i class="fal fa-plus plus"></i></button>
                    </div>
                    <div class="item-wrapper d-flex mr--5 align-items-center">
                        <a href="#" class="product-edit"><i class="fal fa-edit"></i></a>
                        <a href="#" class="delete-cart"><i class="fal fa-times"></i></a>
                    </div>
                </div>
            </div>
            <div class="product-item last-child">
                <div class="product-detail">
                    <div class="product-thumb"><img src="/static/images/slider/image5.jpg" alt="product-thumb"></div>
                    <div class="item-wrapper">
                        <span class="product-name">Bellyless Hoodie</span>
                        <div class="item-wrapper">
                            <span class="product-variation"><span class="color">Green /</span>
                                <span class="size">XL</span></span>
                        </div>
                        <div class="item-wrapper">
                            <span class="product-qnty">1 ×</span>
                            <span class="product-price">$289.00</span>
                        </div>
                    </div>
                </div>
                <div class="cart-edit">
                    <div class="quantity-edit">
                        <button class="button"><i class="fal fa-minus minus"></i></button>
                        <input type="text" class="input" value="2" />
                        <button class="button plus">+<i class="fal fa-plus plus"></i></button>
                    </div>
                    <div class="item-wrapper d-flex mr--5 align-items-center">
                        <a href="#" class="product-edit"><i class="fal fa-edit"></i></a>
                        <a href="#" class="delete-cart"><i class="fal fa-times"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="cart-bottom-area">
            <span class="spend-shipping"><i class="fal fa-truck"></i> SPENT <span class="amount">$199.00</span> MORE
                FOR FREE SHIPPING</span>
            <span class="total-price">TOTAL: <span class="price">$556</span></span>
            <a href="{% url 'checkOut' %}" class="checkout-btn cart-btn">PROCEED TO CHECKOUT</a>
            <a href="{% url 'cart' %}" class="view-btn cart-btn">VIEW CART</a>
        </div>
    </div>
    <!-- slide-bar start -->
    <aside class="slide-bar">
        <div class="offset-sidebar">
            <a class="hamburger-1 mobile-hamburger-1 ml--30" href="#"><span><i class="rt-xmark"></i></span></a>
        </div>
        <!-- offset-sidebar start -->
        <div class="offset-sidebar-main">
            <div class="offset-widget mb-40">
                <div class="info-widget">
                    <img src="/static/images/logo1.svg" alt="">
                    <p class="mb-30">
                        We must explain to you how all seds this mistakens idea denouncing pleasures and praising account.
                    </p>
                </div>
                <div class="info-widget info-widget2">
                    <h4 class="offset-title mb-20">Get In Touch </h4>
                    <ul>
                        <li class="info phone"><a href="tel:78090790890208806803">780 907 908 90, 208 806 803</a></li>
                        <li class="info email"><a href="email:info@webmail.com">info@webmail.com</a></li>
                        <li class="info web"><a href="www.webexample.com">www.webexample.com</a></li>
                        <li class="info location">13/A, New Pro State, NYC</li>
                    </ul>
                    <div class="offset-social-link">
                        <h4 class="offset-title mb-20">Follow Us </h4>
                        <ul class="social-icon">
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fab fa-behance"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- offset-sidebar end -->
        <!-- side-mobile-menu start -->
        <nav class="side-mobile-menu side-mobile-menu1">
            <ul id="mobile-menu-active">
                <li class="has-dropdown firstlvl">
                    <a class="mm-link" href="{% url 'index' %}">Home <i class="rt-angle-down"></i></a>

                </li>
                <li class="has-dropdown firstlvl">
                    <a class="mm-link" href="{% url 'shop' %}">Shop <i class="rt-angle-down"></i></a>
     
                </li>

      
            </ul>
        </nav>
        <div class="header-action-items header-action-items1 header-action-items-side">
            <div class="search-part">
                <div class="search-icon action-item icon"><i class="rt-search"></i></div>
                <div class="search-input-area">
                    <div class="container">
                        <div class="search-input-inner">
                            <select id="custom-select">
                                <option value="hide">All Catagory</option>
                                <option value="all">All</option>
                                <option value="men">Men</option>
                                <option value="women">Women</option>
                                <option value="shoes">Shoes</option>
                                <option value="shoes">Glasses</option>
                                <option value="shoes">Bags</option>
                                <option value="shoes">Assesories</option>
                            </select>
                            <div class="input-div">
                                <div class="search-input-icon"><i class="rt-search mr--10"></i></div>
                                <input class="search-input" type="text" placeholder="Search by keyword or #">
                            </div>
                            <div class="search-close-icon"><i class="rt-xmark"></i></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cart action-item">
                <div class="cart-nav">
                    <div class="cart-icon icon"><i class="rt-cart"></i><span class="wishlist-dot icon-dot">3</span>
                    </div>
                </div>
            </div>
            <div class="wishlist action-item">
                <div class="favourite-icon icon"><i class="rt-heart"></i><span class="cart-dot icon-dot">0</span>
                </div>
            </div>
            <a href="{% url 'login' %}" class="account"><i class="rt-user-2"></i></a>
        </div>
        <!-- side-mobile-menu end -->
    </aside>
    <!--================= Banner Section Start Here =================-->
    <div class="banner banner-1 bg-image">
        <div class="container">
            <div class="banner-inner">
                <div class="row">
                    <div class="col-xl-2 col-md-4 col-sm-12 gutter-1">
                        <div class="catagory-sidebar">
                            <div class="widget-bg">
                                <h2 class="widget-title">All Categories <i class="rt-angle-down"></i></h2>
                                    <nav>
                                        <ul>
                                            <!-- Debug: Print categories -->
                                            {% if categories %}
                                                {% for category in categories %}
                                                    <li>
                                                        <a href="{% url 'category_detail' category.id %}">
                                                            {{ category.name }} <i class="rt rt-arrow-right-long"></i>
                                                        </a>
                                                    </li>
                                                {% endfor %}
                                            {% else %}
                                                <li>No categories found.</li>
                                            {% endif %}
                                        </ul>
                                    </nav>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-10 col-md-8 col-sm-12 gutter-2">
                        <div class="swiper bannerSlide2">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="banner-single bg-image bg-image-3-1" style="background-image: url('https://storage.googleapis.com/a1aa/image/NxNn7nfuj7YRqcleMTUc_g97A5PtDyzZwek_wYf0qgQ.jpg');">
                                        <div class="container">
                                            <div class="single-inner">
                                                <div class="content-box">
                                                    <p class="slider-subtitle"><img src="/static/images/banner/wvbo-icon.png" alt=""> Spring
                                                        summer 22 women’s collection </p>
                                                    <h2 class="slider-title"> HOT COLLECTION <br> FOR MAN</h2>
                                                    <div class="slider-description">
                                                        <p>Easy & safe payment with PayPal. sequines & embroidered
                                                            for all</p>
                                                    </div>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="banner-single bg-image bg-image-3-3" style="background-image: url('https://images.unsplash.com/photo-1560769629-975ec94e6a86?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80');">
                                        <div class="container">
                                            <div class="single-inner">
                                                <div class="content-box">
                                                    <p class="slider-subtitle"><img src="/static/images/banner/wvbo-icon.png" alt=""> Spring
                                                        summer 22 women’s collection </p>
                                                    <h2 class="slider-title"> NEW COLLECTION <br> FOR WOMEN</h2>
                                                    <div class="slider-description">
                                                        <p>Easy & safe payment with PayPal. sequines & embroidered
                                                            for all</p>
                                                    </div>
                                                  
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="banner-single bg-image bg-image-3-4" style="background-image: url('https://images.unsplash.com/photo-1549298916-b41d501d3772?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80');">
                                        <div class="container">
                                            <div class="single-inner">
                                                <div class="content-box">
                                                    <p class="slider-subtitle"><img src="/static/images/banner/wvbo-icon.png" alt=""> Spring
                                                        summer 22 women’s collection </p>
                                                    <h2 class="slider-title"> Fall Shoes <br> FOR WOMEN</h2>
                                                    <div class="slider-description">
                                                        <p>Easy & safe payment with PayPal. sequines & embroidered
                                                            for all</p>
                                                    </div>
                                                   
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="slider-navigation">
                                <div class="swiper-button-prev slider-btn prev"><i class="rt rt-arrow-left-long"></i></div>
                                <div class="swiper-button-next slider-btn next"><i class="rt rt-arrow-right-long"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--================= Banner Section End Here =================-->
</header>

<!-- ..::Offer Section Start Here::.. -->
<div class="rts-offer-section">
    <div class="container">
        <div class="rts-offer-inner">
            <p class="description">Super discount for your 100$ purchase. Use this code <a href="{% url 'shop' %}">OFFER100</a>
            </p>
        </div>
    </div>
</div>
<!-- ..::Offer Section End Here::.. -->

<!-- ..::New Collection Section Start Here::.. -->
<div class="rts-new-collection-section section-gap">
    <div class="container">
        <div class="recent-products-header section-header">
        </div>
        <div class="swiper rts-cmmnSlider-over" data-swiper="pagination">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="collection-item">
                        <a href="{% url 'category' %}">
                            <img src="https://images.unsplash.com/photo-1543163521-1bf539c55dd2?ixlib=rb-1.2.1&auto=format&fit=crop&w=338&h=450&q=80" alt="Women's Shoes">
                        </a>
                        <p class="item-quantity">20 <span>items</span></p>
                        <a href="{% url 'category' %}" class="item-catagory-box">
                            <h3 class="title">FOR WOMEN'S</h3>
                        </a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="collection-item">
                        <a href="{% url 'category' %}">
                            <img src="https://images.unsplash.com/photo-1606107557195-0e29a4b5b4aa?ixlib=rb-1.2.1&auto=format&fit=crop&w=338&h=450&q=80" alt="Men's Shoes">
                        </a>
                        <p class="item-quantity">33 <span>items</span></p>
                        <a href="{% url 'category' %}" class="item-catagory-box">
                            <h3 class="title">FOR MAN'S</h3>
                        </a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="collection-item">
                        <a href="{% url 'category' %}">
                            <img src="https://images.unsplash.com/photo-1514989940723-e8e51635b782?ixlib=rb-1.2.1&auto=format&fit=crop&w=338&h=450&q=80" alt="Kids' Shoes">
                        </a>
                        <p class="item-quantity">25 <span>items</span></p>
                        <a href="{% url 'category' %}" class="item-catagory-box">
                            <h3 class="title">FOR KIDS</h3>
                        </a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="collection-item">
                        <a href="{% url 'category' %}">
                            <img src="https://images.unsplash.com/photo-1595950653106-6c9ebd614d3a?ixlib=rb-1.2.1&auto=format&fit=crop&w=338&h=450&q=80" alt="Sports Shoes">
                        </a>
                        <p class="item-quantity">33 <span>items</span></p>
                        <a href="{% url 'category' %}" class="item-catagory-box">
                            <h3 class="title">SPORTS SHOES</h3>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ..::New Collection Section End Here::.. -->



<!-- ..::Deal Section Start Here::.. -->
{% include 'home/deal_section.html' %}
<!-- ..::Deal Section End Here::.. -->

<!-- ..::Featured Product Section Start Here::.. -->
{% include 'home/featured_product.html' %}
<!-- ..::Featured Product Section End Here::.. -->




<!-- ..::Newsletter Popup Start Here::.. -->
{% include 'home/newsletter_popup.html' %}
<!-- ..::Newsletter Popup End Here::.. -->

<!-- ..::Product-details Section Start Here::.. -->
<div class="product-details-popup-wrapper">
    <div class="rts-product-details-section rts-product-details-section2 product-details-popup-section">
        <div class="product-details-popup">
            <button class="product-details-close-btn"><i class="fal fa-times"></i></button>
            <div class="details-product-area">
                <div class="product-thumb-area">
                    <div class="cursor"></div>
                    <div class="thumb-wrapper one filterd-items figure">
                        <div class="product-thumb zoom" onmousemove="zoom(event)" style="background-image: url('/static/images/products/product-details.jpg')"><img src="/static/images/products/product-details.jpg" alt="product-thumb">
                        </div>
                    </div>
                    <div class="thumb-wrapper two filterd-items hide">
                        <div class="product-thumb zoom" onmousemove="zoom(event)" style="background-image: url('/static/images/products/product-filt2.jpg')"><img src="/static/images/products/product-filt2.jpg" alt="product-thumb">
                        </div>
                    </div>
                    <div class="thumb-wrapper three filterd-items hide">
                        <div class="product-thumb zoom" onmousemove="zoom(event)" style="background-image: url('/static/images/products/product-filt3.jpg')"><img src="/static/images/products/product-filt3.jpg" alt="product-thumb">
                        </div>
                    </div>
                    <div class="product-thumb-filter-group">
                        <div class="thumb-filter filter-btn active" data-show=".one"><img src="/static/images/products/product-filt1.jpg" alt="product-thumb-filter"></div>
                        <div class="thumb-filter filter-btn" data-show=".two"><img src="/static/images/products/product-filt2.jpg" alt="product-thumb-filter"></div>
                        <div class="thumb-filter filter-btn" data-show=".three"><img src="/static/images/products/product-filt3.jpg" alt="product-thumb-filter"></div>
                    </div>
                </div>
                <div class="contents">
                    <div class="product-status">
                        <span class="product-catagory">Dress</span>
                        <div class="rating-stars-group">
                            <div class="rating-star"><i class="fas fa-star"></i></div>
                            <div class="rating-star"><i class="fas fa-star"></i></div>
                            <div class="rating-star"><i class="fas fa-star-half-alt"></i></div>
                            <span>10 Reviews</span>
                        </div>
                    </div>
                    <h2 class="product-title">Wide Cotton Tunic Dress <span class="stock">In Stock</span></h2>
                    <span class="product-price"><span class="old-price">$9.35</span> $7.25</span>
                    <p>
                        Priyoshop has brought to you the Hijab 3 Pieces Combo Pack PS23. It is a
                        completely modern design and you feel comfortable to put on this hijab.
                        Buy it at the best price.
                    </p>
                    <div class="product-bottom-action">
                        <div class="cart-edit">
                            <div class="quantity-edit action-item">
                                <button class="button"><i class="fal fa-minus minus"></i></button>
                                <input type="text" class="input" value="01" />
                                <button class="button plus">+<i class="fal fa-plus plus"></i></button>
                            </div>
                        </div>
                        <a href="{% url 'cart' %}" class="addto-cart-btn action-item"><i class="rt-basket-shopping"></i>
                            Add To
                            Cart</a>
                        <a href="{% url 'wishlist' %}" class="wishlist-btn action-item"><i class="rt-heart"></i></a>
                    </div>
                    <div class="product-uniques">
                        <span class="sku product-unipue"><span>SKU: </span> BO1D0MX8SJ</span>
                        <span class="catagorys product-unipue"><span>Categories: </span> T-Shirts, Tops, Mens</span>
                        <span class="tags product-unipue"><span>Tags: </span> fashion, t-shirts, Men</span>
                    </div>
                    <div class="share-social">
                        <span>Share:</span>
                        <a class="platform" href="http://facebook.com" target="_blank"><i class="fab fa-facebook-f"></i></a>
                        <a class="platform" href="http://twitter.com" target="_blank"><i class="fab fa-twitter"></i></a>
                        <a class="platform" href="http://behance.com" target="_blank"><i class="fab fa-behance"></i></a>
                        <a class="platform" href="http://youtube.com" target="_blank"><i class="fab fa-youtube"></i></a>
                        <a class="platform" href="http://linkedin.com" target="_blank"><i class="fab fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ..::Product-details Section End Here::.. -->

{% endblock content %}