<!DOCTYPE html>
<html lang="en" class="darkmode" data-theme="light">

{% include '../partials/head.html' with css=css %}

<body>
    
    <!-- ..::Preloader Section Start Here::.. -->
    {% include '../partials/preloader.html' %}
    <!-- ..::Preloader End Here::.. -->

    <div class="anywere"></div>

    <!-- Header -->
    {% if title %}
        {% include '../partials/header.html' %}
    {% endif %}

    <!-- Banner (opcjonalnie) -->
    {% if banner %}
        {% include '../partials/banner.html' %}
    {% endif %}

    <!-- Główna zawartość strony -->
    {% block content %}
    {% endblock %}

    <!-- Stopka -->
    {% if footer %}
        {% include '../partials/footer.html' %}
    {% endif %}

    <!-- Skrypty i dodatkowe elementy -->
    {% include '../partials/scroll.html' %}
    {% include '../partials/script.html' with script=script %}

    <!-- Dodatkowe skrypty specyficzne dla strony -->
    {% block script %}
    {% endblock %}

</body>

</html>